/* General */
html{
    background-image: url("../img/background.jpg");
    background-size: auto;
    background-attachment: fixed;
}

body{
    background-color: #ababab;
    width: 80%;
    margin-left: 10%;
}

header, section{
	text-align: center
}

/* Section nav */

/* Section header */

/* Section Qui sommes nous */

/* Section Compétences */

/* Section Jeu */

/* Section Fo */